<div class="container">
    <div class="row mt-4">
        <h3 class="col-sm-6 col-md-12 text-center text-uppercase" style="color: seashell;">Listado de bebidas <i
                class="fas fa-clipboard-list"></i><a href="/bebidas/add" class="btn btn-light" style="float: right;">Agregar bebida</a></h3>

    </div>
</div>


<div class="container">
    <div class="row my-4">
        <div class="col-sm-6 col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered" style="background: white;">
                <thead class="thead-dark">
                    <tr>
                        <!--<th class="text-center text-uppercase">N°</th>-->
                        <th class="text-center text-uppercase">Descripcion</th>
                        <th class="text-center text-uppercase">Precio</th>
                        <th class="text-center text-uppercase">Editar</th>
                         <th class="text-center text-uppercase">Eliminar</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each bebidas}}
                    <tr>
                        <!--<td class="text-center">{{_id}}</td>-->
                        <td class="text-center text-uppercase">{{descripcion}}</td>
                        <td class="text-center text-uppercase">${{precio}}</td>
                        <td class="text-center text-uppercase"><a class="btn btn-primary text-center" href="/bebidas/edit/{{_id}}"><i class="far fa-edit"></i></a></td>
                        <td class="text-center">
                            <form action="/bebidas/eliminar/{{_id}}?_method=DELETE" method="POST">
                                <button class="btn btn-danger text-center"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>