<div class="container">
    <div class="row my-4">
        <div class="col-sm-6 col-md-12" style="overflow-x:auto;">
            <table class="table table-bordered" style="background: white;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-center text-uppercase">Id</th>
                        <th scope="col" class="text-center text-uppercase">Cliente</th>
                        <th scope="col" class="text-center text-uppercase">Comida</th>
                        <th scope="col" class="text-center text-uppercase">Bebida</th>
                        <th scope="col" class="text-center text-uppercase">Total</th>
                        <th scope="col" class="text-center text-uppercase">Editar</th>
                        <th scope="col" class="text-center text-uppercase">Eliminar</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="text-center"><a href="/entradas/edit/{{_id}}"><i class="fas fa-edit"></i></a></td>
                        <td class="text-center"><a href="/entradas/edit/{{_id}}"><i class="fas fa-trash-alt"></i></a></td>


                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>@fat</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="text-center"><a href="/entradas/edit/{{_id}}"><i class="fas fa-edit"></i></a></td>
                        <td class="text-center"><a href="/entradas/edit/{{_id}}"><i class="fas fa-trash-alt"></i></a></td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>@twitter</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td class="text-center"><a href="/pedidos/edit/{{_id}}"><i class="fas fa-edit"></i></a></td>
                        <td class="text-center"><a href="/pedidos/eliminar/{{_id}}"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>