<!--
    <div class="row">
        {{#each entradas}}
        <div class="col-md-3">
            <div class="card my-4">
                <div class="card-header bg-dark" style="color: white">
                    Nuevo Post <a href="/entradas/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4>{{titulo}}</h4>
                    <p>{{descripcion}}</p>
                </div>
                <form action="/entradas/eliminar/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block" type="submit">Eliminar</button>
                </form>
            </div>
        </div>
        {{else}}-->
<div class="col-md-12 mt-4">
    <div class="jumbotron">
        <div class="container">
            <!--<h1 class="col-md-12">Hello {{user.email}}</h1>-->
            <h2 class="col-sm-4 col-md-6 col-lg-12 text-center">¡Bienvenido a Aplicacion Ventas!</h2>
            <h4 class="lead text-center col-md-12">Aplicacion ventas permite agilizar el proceso de atencion a clientes,
                controlar registros de pedidos y obtener al final un total de ganacias.</h4>
            <hr class="my-4">
            <div class="mx-auto">
                <a class="btn btn-primary btn-lg col-md-6 col-md-12" href="/comidas/add" role="button">
                    <h5 class="text-uppercase">Inicia agregando una comida</h5>
                </a>
            </div>
        </div>
    </div>

</div>
{{/each}}
</div>
</div>